.partners-section2 {
  padding: 3% 0;
}
.section-title-partner{
  font-size: 2.2rem;
  margin-bottom: 48px;
  text-align: center;
}
.section-title-partner h3 {
  color: #07002f;
  margin: 3% 0;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.partners-alliances-card{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.partners-alliances {
  margin-bottom: 8%;
}
.partner-alliance-inner {
  padding: 4% 6%;
  height: 77vh;
  margin: 0 4%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.partner-alliance-inner img {
  width: 15%;
  margin-bottom: 2%;
}
.partner-alliance-inner h3{
    font-style: normal;
font-weight: 600;
line-height: normal;
color: #1D1D1D;
}
.partner-alliance-inner p{
    font-style: normal;
font-weight: 500;
text-align: center;
line-height: normal;
color: #62666A;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .section-title-partner h3 {
    margin: 8% 0;
  }
  .industry-banner-section {
    height: 100vh;
  }
  .partner-alliance-inner p {
    font-size: 0.9rem;
    text-align: justify;
  }
  .partner-alliance-inner {
    padding: 5%;
  }
  .partner-alliance-inner h3 {
    font-size: 1.5rem;
  }
  .partners-alliances-card{
  grid-template-columns: revert;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .partners-alliances-card{
    grid-template-columns: revert;
    }
  .section-title-partner h3 {
    margin: 8% 0;
  }
  .industry-banner-section {
    height: 100vh;
  }
  .partner-alliance-inner p {
    font-size: 0.9rem;
    text-align: justify;
  }
  .partner-alliance-inner {
    padding: 5%;
  }
  .partner-alliance-inner h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 996px) {
.partner-alliance-inner {
  height: 85vh;
}

}