.career-video{
    margin-top: 50px;
}
.program{
   margin-top: 70px;
    
}
.program .program-content{
    padding: 0 5%;
}
.program .program-content h6{
    font-weight: 600;
}
.program .program-duration .duration{
    color: gray;
}
.program .program-modules p{
    color: gray;
}
.program .program-modules ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.program .program-row{
    margin: 45px 0;
}
.program-row.odd{
    display: flex;
    flex-direction: row-reverse;
}
.program-row.even{
    display: flex;
    flex-direction: revert;
}
.program .heading{
    font-weight: 600;
    color: #000;
}
.program .test{
    margin-bottom: 40px;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .program-row.even{
        display: block;
    }
    .program-row.odd{
        display: block;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .program-row.even{
        display: block;
    }
    .program-row.odd{
        display: block;
    }
}