.guru-section1 {
  height: 100vh;
  position: relative;
}
.guru-section1 video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ui1-banner1-parent-training {
  position: relative;
  background: url(../../images/bg/guru_banner1.png);
  height: 100vh;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-top: 100px;
}
.ui1-banner1-content-training {
  padding: 0 5%;
}
.ui1-banner1-content-training h5 {
  color: #72abff;
}
.ui1-banner1-content-training h3 {
  color: #fff;
  font-weight: 700;
}
.ui1-banner1-content-training p {
  color: #fff;
}

.guru-section2 {
  margin-top: 50px;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
}
.top_training {
  width: 55px;
  height: 300px;
  background-color: #07002f;
  position: relative;
  left: -17px;
}
.bottom_training {
  width: 55px;
  height: 150px;
  background-color: #07002f;
  position: relative;
  left: -17px;
  bottom: -20%;
  margin: 120px 0 0 0;
}
.top_training::before {
  content: "";
  position: absolute;
  bottom: -47px;
  left: 28px;
  width: 50px;
  height: 100px;
  background-color: #9747ff;
  opacity: 0.5;
  backdrop-filter: blur(1.5px);
}
.ninja-img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.guru-banner2-content {
  padding: 0 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.guru-banner2-content h3 {
  font-weight: 600;
}
.guru-banner2-content p {
  color: #62666a;
  font-size: 1rem;
}

.guru-banner2-content .guru-banner-box {
  /* background-color: #fff; */
  padding: 5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.guru-banner2-content .guru-banner-box span {
  color: #a3a3a3;
  font-size: 0.8rem;
}

.guru-banner2-content .guru-banner-box p {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}

.guru-banner2-content .guru-banner-box p span {
  color: #2c81fe;
  font-size: 1rem;
}

.guru-section3 {
  margin-top: 50px;
  height: 110vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.guru-section3 .col-lg-6 {
  padding: 0;
}

.guru-left-bg {
  position: relative;
  padding-left: 0;
}

/* .guru-left-bg:before{
    content: "";
    background-image: url(../../images/decors/guru2.png);
    height: 23%;
    position: absolute;
    right: -4%;
    top: 0;
    width: 60px;
    z-index: 2;
}
.guru-left-bg:after{
    content: "";
    background-image: url(../../images/decors/guru1.png);
    background-repeat: no-repeat;
    height: 26%;
    position: absolute;
    right: -12%;
    bottom: 0%;
    width: 60%;
    z-index: 2;
} */
.guru-left-parent {
  height: 110vh;
  /* clip-path: polygon(100% 0, 100% 74%, 75% 100%, 0 100%, 0 0); */
}
.guru-left-parent img {
  width: 100%;
  height: 100%;
}
.guru-right-parent {
  display: flex;
  align-items: center;
  height: 100%;
}
.guru-right-inner {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.guru-right-inner.samurai-about {
  padding: 0 15%;
}

.guru-right-inner ul {
  padding-left: 0;
  padding-bottom: 5%;
  list-style: none;
}
.play_btn {
  position: absolute;
  top: 35%;
  z-index: 1;
  left: 37%;
}
.play_btn img {
  width: 155px;
  height: 155px;
}
.guru-right-inner h3 {
  margin-bottom: 10px;
  font-weight: 600;
  margin-bottom: 15px;
}
.guru-right-inner h3 span {
  color: #2c81fe;
}
.guru-right-inner ul li {
  color: #62666a;
}
.guru-right-inner ul li p {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #62666a;
}
.guru-section4 {
  margin-top: 50px;
  height: 100vh;
  position: relative;
  background: url(../../images/bg/guru_banner4.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
}
.cyber-slider {
  background-color: #fff;
  margin: 5%;
  padding: 3%;
  height: 300px;
}
.cyber-slider-img {
  margin-top: 5%;
}
.cyber-slider-img img {
  margin-left: auto;
  margin-right: auto;
}
.cyber-slider h3 {
  margin-top: 5%;
  text-align: center;
}
.cyber-slider p {
  text-align: center;
  color: #62666a;
}
.section-title h3 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}
.guru-section4 .section-title h3 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
}
.guru-section4 .section-title h3 span {
  text-transform: uppercase;
  font-weight: 700;
}
.cyber-modules-slider .slick-prev:before {
  content: url(../../images/icons/chevron_left_solid.svg);
}
.cyber-modules-slider .slick-next:before {
  content: url(../../images/icons/chevron_right_solid.svg);
}
.slick-dots li button:before {
  font-size: 0.8rem;
  border: 1px solid #fff;
  border-radius: 50%;
}
.slick-dots li.slick-active button:before {
  color: #fff;
  background-color: #fff;
}
.samurai-section5 {
  margin-top: 50px;
  position: relative;
  background: url(../../images/bg/samurai_banner5.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 6% 0;
}
.samurai-section5 h3 {
  margin-bottom: 4%;
}
.samurai-module-parent {
  width: 300px;
  height: 300px;
  padding: 0 4%;
}
.samurai-module-inner {
  width: 95%;
  height: 100%;
  background-color: #000066;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.samurai-module-content h3 {
  color: #fff;
  text-align: center;
}
.samurai-module-content h5 {
  color: #fff;
  text-align: center;
}
.samurai-module-img {
  margin-bottom: 5%;
  text-align: center;
}
.samurai-module-img img {
  height: 50px;
}
.ninja-section6 {
  margin-top: 50px;
  position: relative;
  background: url(../../images/bg/ninja_banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 6% 0;
}
.ninja-modules-wrapper {
  position: relative;
  left: -37px;
  flex-grow: 1;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 4vmin;
  justify-items: center;
  align-items: center;
}
.ninja-modules-wrapper .items {
  width: 280px;
  height: 280px;
  background: #fff;
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: -45%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: scale(1);
}
.ninja-modules-wrapper .items:nth-child(7n + 1) {
  grid-column: 2 / span 2;
}
.ninja-modules-parent {
  padding: 3% 18%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ninja-modules-parent h3 {
  text-align: center;
}
.ninja-modules-parent p {
  text-align: center;
}
.ninja-modules-img {
  text-align: center;
}
.ninja-modules-img img {
  width: 70%;
}

.ui1-banner1-parent-training-npti {
  position: relative;
  background: url(../../images/bg/BG.png);
  height: 100vh;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-top: 100px;
}
.npti {
  background-position: center;
  background-size: cover;
}
.npti_degree {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}
.npti-clipped-btns {
  background-color: #185893;
  color: #fff;
  padding: 5px 6px;
  width: 38%;
  margin-right: 20px;
  clip-path: polygon(0 0, 92% 0, 100% 100%, 8% 100%);
}
.degree_content_npti {
  width: 250px;
  height: 300px;
  background-color: #e0e0e0;
  border-radius: 25px;
  text-align: center;
  padding: 1% 2%;
  clip-path: polygon(
    15% 0,
    85% 0,
    100% 14%,
    100% 87%,
    87% 100%,
    12% 100%,
    0 86%,
    0 13%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.npti-card-content {
  width: 86%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.npti-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding: 0 17%;
}
.tech_card-npti {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
.tech_card_details-npti {
  border: 1px solid #fff;
  background: #ffffff;
  backdrop-filter: blur(5px);
  padding: 20px 30px;
}
.ui1-banner1-parent-training-coe {
  position: relative;
  height: 100vh;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-top: 100px;
}
.degree_content-coe {
  width: 80%;
  background-color: #e0e0e0;
  padding: 20px 40px;
}
.tech_card_details-coe {
  border: 1px solid #fff;
  background: #ffffff;
  backdrop-filter: blur(5px);
  padding: 20px 30px;
}
.guru-section3-coe {
  position: relative;
}
.cyber-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .threat .container-fluid {
    padding: 0;
  }
  .threat {
    margin-top: 0 !important;
  }
  .threat .container-fluid .row {
    flex-direction: column-reverse;
  }
  /* .threat .container-fluid .row .col-lg-6{
    padding-right: ;
  } */
  .guru-right-parent {
    position: static !important;
  }
  .technology .mission-technology-title {
    margin-top: -75%;
    color: #000;
  }
  .technology {
    margin-top: 9rem !important;
    padding: 3% 0;
  }
  .threat .submit.clipped-btns {
    position: static;
    border-radius: 0;
    padding: 8px 25px;
  }
  .npti-card {
    width: 100%;
  }
  .ninja-img {
    height: 62vh;
    filter: blur(2px);
  }
  .guru-banner2-content .guru-banner-box {
    background-color: #fff;
  }
  .top_training {
    display: none;
  }
  .bottom_training {
    display: none;
  }
  .samurai-section5 .section-title h3 {
    color: #fff;
  }
  .samurai-module-inner {
    width: 65%;
    height: 85%;
    margin: 0 auto;
  }
  .npti_degree{
    display: flex;
    flex-direction: column;
    padding: 10% 0;
    height: auto;
  }
  .degree_content_npti{
    margin: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .guru-banner2-content {
    padding: 13% 8% 10% 13%;
    background: url(../../images/tablet/banner2.png);
    background-repeat: no-repeat;
    background-size: 180% 110%;
    background-position: 23%;
    height: auto;
    text-align: center;
  }
  .guru-section2 .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .samurai-module-inner {
    width: 65%;
    height: 85%;
    margin: 0 auto;
  }
  .ninja-section6 .section-title h3 {
    color: #fff;
  }
  .samurai-section5 .section-title h3 {
    color: #fff;
  }
  .guru-section4 .section-title h3 {
    font-size: 2rem;
  }
  .guru-section4 {
    bottom: 0;
  }
  .guru-right-inner {
    text-align: center;
  }
  .guru-right-parent {
    padding: 6% 0;
    justify-content: center;
  }
  .guru-section3 .container-fluid .row {
    flex-direction: column-reverse;
  }
  .top_training {
    display: none;
  }
  .bottom_training {
    display: none;
  }
  .technology .mission-technology-title {
    margin-top: -75%;
    color: #000;
  }
  .technology {
    margin-top: 9rem !important;
    padding: 3% 0;
  }
  .threat .submit.clipped-btns {
    position: static;
    border-radius: 0;
    padding: 8px 25px;
  }
  .npti-card {
    width: 100%;
  }
  .tech_card-npti {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .technology {
    height: auto;
  }
  .guru-section1 video {
    display: none;
  }
  .ui1-banner1-parent-training-npti {
    background-size: cover;
  }
  .ui1-banner1-parent-training-coe {
    background-size: cover;
  }
  .ui1-banner1-parent-training {
    background-size: 150% 100%;
    height: 100%;
  }
  .guru-section2 {
    height: auto;
    margin-top: 0;
  }
  .guru-banner-box {
    position: absolute;
    /* left: 0; */
    bottom: -100%;
    margin: 0 auto;
    width: 70%;
    z-index: 1;
    /* margin: 0 30px; */
  }
  .price_img {
    filter: blur(4px);
    height: auto;
  }
  .guru-section3 {
    height: auto;
  }
  .guru-section4 {
    height: auto;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 8% 0;
    background-size: cover;
  }
  .guru-section4 .slick-prev {
    left: 0;
  }
  .guru-section4 .slick-next {
    right: 0;
  }
  .guru-left-bg {
    padding-right: 0;
  }
  .guru-left-parent {
    height: auto;
    clip-path: none;
  }

  .guru-right-inner h3 {
    text-align: center;
    margin: 27px 62px;
  }
  .samurai-module-parent {
    width: auto;
    margin: 10px auto;
  }
  .ninja-modules-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    left: 0;
  }
  .ninja-modules-wrapper .items:nth-child(7n + 1) {
    grid-column: unset;
  }
  .ninja-modules-wrapper .items {
    margin-bottom: 0;
    clip-path: 0;
    grid-column: unset;
  }
  .ninja-img {
    height: 62vh;
    filter: blur(2px);
  }
  .guru-banner2-content .guru-banner-box {
    background-color: #fff;
  }
  .npti_degree{
    display: flex;
    flex-direction: column;
    padding: 10% 0;
    height: auto;
  }
  .degree_content_npti{
    margin: 20px;
  }
}
