.footer-section {
  margin-top: 42px;
}
.footer .list-unstyled p a {
  color: #62666a;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: inherit;
  text-decoration: none;
}
.footer .list-unstyled p {
  padding: 5px 0;

}
.info {
  width: 100%;
}
.footer_link {
  clip-path: polygon(78% 0, 100% 72%, 91% 100%, 0 100%, 0 0);
  height: 100%;
  margin-top: 12px;
}
.contact {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.footer-section .container-fluid .col-lg-7 {
  padding-left: 0;
}
.footer-section .footer {
  padding: 5% 10% 2% 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.success-message {
  position: fixed;
  top: 10%;
  right: 10px;
  background-color: #D4EDDA;
  color: #155759;
  padding: 15px;
  z-index: 999; /* Ensure it's above other content */
  animation: slideInRight 0.5s ease forwards; /* Animation */
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.footer-newsletter input {
  background-color: #dbdadb;
  border: none;
  width: 85%;
  padding: 2%;
}
.footer-newsletter input:focus-visible {
  outline: none;
}
.contact .contact-details {
  padding: 0 4%;
}
.footer-direct-links h3 {
  color: #fff;
}
.location .address, .email .address, .site .address, .mobile .address  {
  color: #1d1d1d;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (min-width: 469px) and (max-width: 768px) {
  .list-unstyled {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
  .footer-section {
    background: #07002f;
  }
  .footer-section .footer{
    padding: 0 3% 3% 10%;
  }
  .con {
    color: #fff;
  }
  .footer-section {
    margin-top: 15px;
}
  .contact .contact-details{
    padding: 0 10%;
  }
  .location svg path , .email svg path, .site svg path, .mobile svg path {
    fill: #183893;
  }
  .location .address, .email .address, .site .address, .mobile .address {
    color: #62666a;
  }
}

@media only screen and (min-width: 320px) and (max-width: 468px) {
  .location svg path , .email svg path, .site svg path, .mobile svg path {
    fill: #183893;
  }
  .footer-section {
    margin-top: 15px;
}
  .location .address, .email .address, .site .address, .mobile .address {
    color: #62666a;
  }
  .footer_link {
    clip-path: none;
  }
  .footer-section .footer{
    padding: 0 3% 3% 10%;
  }
  .footer-section {
    margin-top: 0;
  }
  .footer-copyright {
    display: none;
  }
  .container-flu {
    background-color: #07002f;
  }
  .location {
    color: #fff;
  }
  .footer-section {
    background: #07002f;
  }
  .contact .contact-details{
    padding: 0 10%;
  }
  .location .address {
    color: #62666a;
  }
  .location svg path , .email svg path, .site svg path, .mobile svg path {
    fill: #183893;
  }
  .location .address, .email .address, .site .address, .mobile .address {
    color: #62666a;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_link {
    clip-path: none;
  }
  .list-unstyled {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-section {
    background: #07002f;
  }
  .footer-section .footer{
    padding: 0 3% 3% 10%;
  }
  .footer-copyright {
    display: none;
  }
  .footer-contact-title{
    color: #fff;
  }
  .con {
    color: #fff;
  }
  .contact .contact-details{
    padding: 0 10% 10%;
  }
  .location .address {
    color: #62666a;
  }
  .location svg path , .email svg path, .site svg path, .mobile svg path {
    fill: #183893;
  }
  .location .address, .email .address, .site .address, .mobile .address {
    color: #62666a;
  }
}