.ui1-banner1-content-solution {
  padding: 0 10%;
  color: #fff;
}

.ui1-banner1-parent-solution {
  position: relative;
  background: url(../../components//images/bg/whizrange_BG.png);
  height: 100vh;
  background-size: 70% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-top: 100px;
}
.ui1-banner1-parent-solution-zerohack {
  position: relative;
  left: -60px;
  background: url(../../components//images//bg/Bg\ Purple.svg);
  height: 100vh;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-top: 100px;
}
.ui1-banner1-parent-trace-solution {
  position: relative;
  background: url(../../components//images/bg/BG.png);
  height: 100vh;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-top: 100px;
}
.cyber {
  height: 100vh;
  position: relative;
}
.cyber video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.top {
  width: 55px;
  height: 300px;
  background-color: #07002f;
}
.bottom {
  width: 55px;
  height: 150px;
  background-color: #07002f;
  margin: 120px 0 0 0;
}
.bottom::before {
  content: "";
  position: absolute;
  bottom: 100px;
  left: 55px;
  width: 50px;
  height: 100px;
  background-color: #9747ff;
  opacity: 0.5;
  backdrop-filter: blur(1.5px);
}
.square_content {
  background: url("../../asset/W.png") #f4f4f4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4%;
}
.cyber,
.technology {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5% 0;
  height: auto;
  /* height: 100vh; */
}
.text-light {
  border: none;
}
.row {
  margin-right: 0 !important;
}
.tech_card_index {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  padding: 5% 0;
}
.tech_card_index_details {
  border: 1px solid #fff;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 20px 30px;
  background-color: #ffffff;
}
.tech_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  padding: 8% 5%;
}
.tech_card_details:last-child {
  grid-column: 1 / -1;
  /* display: grid; */
  /* grid-template-columns: repeat(1, 1fr); */
}
.tech_card_details {
  border: 1px solid #fff;
  background: linear-gradient(
    180deg,
    rgba(91, 91, 91, 0.7) -12.73%,
    rgba(53, 53, 53, 0.7) 52.4%,
    rgba(65, 65, 65, 0.7) 117.02%
  );
  backdrop-filter: blur(5px);
  padding: 2% 5%;
}
.top-border {
  width: 140px;
  margin-left: 80px;
  height: 141px;
  background-color: transparent;
  border-bottom: none;
  border-right: none;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}
.bottom-border {
  margin-left: 80px;
  width: 140px;
  height: 141px;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
}
.top_zero {
  width: 55px;
  height: 39px;
  position: relative;
  left: -57px;
  opacity: 0.4;
  background-color: #9747ff;
}
.bottom_zero {
  position: relative;
  left: -47px;
  width: 55px;
  height: 100px;
  background-color: #da1937;
  opacity: 0.4;
  margin: 120px 0 0 0;
}
.w-50 {
  margin-top: 70px;
}
.card_content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
.card_content_details {
  background-color: white;
  /* text-align: center; */
  padding: 10px;
}
.line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.degree {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.whiz {
  background-image: url(../../asset/whizrange/Firefly\ Cybersecurity\ Building\ viewed\ from\ top\ with\ dark\ green\ as\ primary\ colour\ 58042\ 1.png);
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.zerohack_whiz {
  background-image: url(../../components/images/zero.svg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about_whiz {
  display: flex;
  align-items: center;
  height: 100%;
}
.whiz_degree {
  padding: 0 10%;
}
.degree_content {
  width: 250px;
  height: 300px;
  background-color: #e0e0e0;
  border-radius: 25px;
  text-align: center;
  padding: 1% 2%;
  clip-path: polygon(
    15% 0,
    85% 0,
    100% 14%,
    100% 87%,
    87% 100%,
    12% 100%,
    0 86%,
    0 13%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cyber_content {
  display: flex;
}
.input {
  width: 458px;
}
.submit {
  background-color: #185893;
  padding: 3px 30px;
  /* position: absolute; */
  right: 250px;
  margin-top: 50px;
  border-radius: 2px 50%;
  color: #fff;
  opacity: 1;
}
.square .degree-2 svg {
  width: 52px;
  height: 46px;
}
.submit:hover {
  opacity: 0.5;
}
.threat .container-fluid {
  padding: 0;
}
.about-whiz-section .container-fluid {
  padding: 0;
}
.left-cut-img {
  clip-path: polygon(100% 0, 100% 79%, 82% 100%, 0 100%, 0 0);
}
.row.even {
}
.row.odd {
  display: flex;
  flex-direction: row-reverse; /* Reverse the order for even rows */
}
.feature-heading {
  color: #07002f;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 5% 0 0 0;
}
.main-feauters-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3%;
  height: 100%;
  width: 100%;
}
.feauters-content {
  margin: 8% 0;
}
.main-feauters-content h3 {
  color: #1d1d1d;
  /* font-family: "Pulse"; */
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: normal;
}
.main-feauters-content p {
  color: #62666a;
  /* font-family: "Satoshi"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ui1-banner1-content-solution-hids {
  width: 50%;
  margin: 0 auto;
  color: #fff;
}
.bottom_zero_hids{
  position: relative;
  left: -47px;
  top: 81%;
  width: 55px;
  height: 145px;
  background-color: #185893;
  opacity: 0.8;
}
@media only screen and (min-width: 479px) and (max-width: 768px) {
  .main-feauters-content{
    margin-top: 18px;
  }
  .hids{
    padding: 0;
  }
  .bottom_zero_hids{
    display: none;
  }
  .ui1-banner1-parent-solution-zerohack {
    background-size: auto;
    left: 0;
  }
  .zerohack_whiz {
    height: auto;
  }
  .top_zero {
    display: none;
  }
  .bottom_zero {
    display: none;
  }
  .ui1-banner1-content-solution {
    text-align: center;
  }
  .trace-about .square_content {
    padding: 5% 8%;
  }
  .partner_trace .partner_form input,
  .partner_trace .partner_form textarea {
    width: 100%;
  }
  .partner_trace .partner_form h1 {
    text-align: center;
    font-size: 2rem;
  }
  .partner_trace .partner_form h6 {
    text-align: center;
  }
  .partner_trace .partner_form {
    padding: 5% 3%;
    margin: 0 !important;
  }
  .technology.trace-technology {
    margin-top: 0 !important;
    background-size: cover;
  }
  .cyber.use-cases .container .row .col-lg-12 {
    margin-top: 0 !important;
  }
  .cyber.use-cases .cyber-heading {
    text-align: center;
  }
  .threat.key-features {
    padding: 5% 5%;
  }
  .threat.key-features .container-fluid .row .col-lg-6 {
    padding-left: 0;
  }

  .threat.key-benefits .square {
    height: auto !important;
    padding: 8% 0;
  }
  .threat.key-benefits .square_content .key .d-flex {
    margin: 0 !important;
  }
  .threat.key-benefits .square_content .key p {
    margin: 0 !important;
  }
  .threat.key-benefits .square_content {
    padding: 5%;
  }
  .threat.key-features .square_content {
    height: 100vh !important;
  }
  .trace-about .container-fluid .row .col-lg-8 {
    order: 0;
  }
  .trace-about .container-fluid .row .col-lg-3 {
    order: 1;
  }
  .trace-about .container-fluid .row .col-lg-8 .square {
    padding: 8% 0;
  }
  .trace_home {
    clip-path: none;
  }
  .ui1-banner1-parent-solution {
    background-size: cover;
  }
  .ui1-banner1-parent-trace-solution {
    background-size: 150% 100%;
  }
  .tech_card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cyber,
  .technology {
    height: auto;
  }
  .top {
    display: none;
  }
  .bottom {
    display: none;
  }
  .tech_card_index {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .card_content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }
  .degree {
    display: flex;
    row-gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .cyber_content {
    display: flex;
    flex-direction: column;
  }
  .top-border {
    border-right: none;
    border-top: none;
    border-left: none;
    height: 0;
  }
  .bottom-border {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    height: 0;
  }
  .w-50 {
    width: 50% !important;
    margin: 0 auto;
  }
  .degree_content {
    width: 70%;
    margin: 10px 20px 10px 20px;
  }
  .top {
    width: 100px;
    height: 30px;
    position: relative;
    top: -50px;
    left: 243px;
    background-color: #da1937;
    opacity: 0.5;
    backdrop-filter: blur(1.5px);
  }
  .line {
    display: none;
  }
  /* .bottom {
    width: 0;
    height: 0;
  }
  .bottom::before {
    top: -78px;
    left: 40%;
    width: 100px;
    height: 30px;
    background-color: #DA1937;
    opacity: 0.5;
    backdrop-filter: blur(1.5px);
  } */

  .input {
    width: 430px;
  }
  .degree {
    display: flex;
    row-gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .ui1-banner1-content-solution-hids{
    width: 100%;
    text-align: center;
  }
  .bottom_zero_hids{
    display: none;
  }
  .hids{
    padding: 0;
  }
  .main-feauters-content{
    margin-top: 18px;
  }
  .top_zero {
    display: none;
  }
  .bottom_zero {
    display: none;
  }
  .ui1-banner1-parent-solution-zerohack {
    background-size: auto;
    left: 0;
  }
  .zerohack_whiz {
    height: auto;
  }
  .trace-about .square_content {
    padding: 5% 8%;
  }
  .partner_trace .partner_form input,
  .partner_trace .partner_form textarea {
    width: 100%;
  }
  .partner_trace .partner_form h1 {
    text-align: center;
    font-size: 2rem;
  }
  .partner_trace .partner_form h6 {
    text-align: center;
  }
  .partner_trace .partner_form {
    padding: 5% 3%;
    margin: 0 !important;
  }
  .technology.trace-technology {
    margin-top: 0 !important;
    background-size: cover;
  }
  .cyber.use-cases .container .row .col-lg-12 {
    margin-top: 0 !important;
  }
  .cyber.use-cases .cyber-heading {
    text-align: center;
  }
  .threat.key-features {
    padding: 5% 5%;
  }
  .threat.key-features .container-fluid .row .col-lg-6 {
    padding-left: 0;
  }

  .threat.key-benefits .square {
    height: auto !important;
    padding: 8% 0;
  }
  .threat.key-benefits .square_content .key .d-flex {
    margin: 0 !important;
  }
  .threat.key-benefits .square_content .key p {
    margin: 0 !important;
  }
  .threat.key-benefits .square_content {
    padding: 5%;
  }
  .threat.key-features .square_content {
    height: 100vh !important;
  }
  .trace-about .container-fluid .row .col-lg-8 {
    order: 0;
  }
  .trace-about .container-fluid .row .col-lg-3 {
    order: 1;
  }
  .trace-about .container-fluid .row .col-lg-8 .square {
    padding: 8% 0;
  }
  .ui1-banner1-content-solution {
    text-align: center;
  }
  .ui1-banner1-parent-trace-solution {
    background-size: 150% 100%;
    padding-top: 70px;
  }
  .cyber .cyber_content {
    padding: 8% 5%;
  }
  .tech_card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .ui1-banner1-parent-solution {
    background-size: cover;
  }
  .threat .whiz {
    padding: 8% 0;
  }
  .square_content {
    text-align: center;
    /* padding: 5% 9%; */
    padding: 13% 8% 10% 13%;
    background: url(../../components/images/tablet/banner2.png);
    background-repeat: no-repeat;
    background-size: 180% 110%;
    background-position: 23%;
    height: auto;
    text-align: center;
  }
  .square_content .clipped-btns.submit {
    position: static;
    padding: 0;
    margin-bottom: 6%;
  }
  .tech_card_index {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .top {
    display: none;
  }
  .bottom {
    display: none;
  }
  .cyber,
  .technology {
    height: auto;
  }
  .trace_home {
    clip-path: none;
  }
  .card_content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }
  .degree {
    display: flex;
    row-gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .top-border {
    border-right: none;
    border-top: none;
    border-left: none;
    height: 0;
  }
  .bottom-border {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    height: 0;
  }
  .w-50 {
    width: 100% !important;
    margin: 0 auto;
  }
  .cyber_content {
    display: flex;
    flex-direction: column;
  }
  .input {
    width: 230px;
  }
  .submit {
    margin-top: 20px;
    position: absolute;
    left: 50%;
    padding: 0 20px 0 90px;
  }
}
