.ui1-banner1-parent-ransomeware {
    position: relative;
    background: url(../../images/bg/Bg\ Purple.png);
    height: 100vh;
    background-size: 60% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-top: 100px;
  }
  .guru-section1{
    background-position: center center;
     height: 100vh;
  }
  .ui1-banner1-content-ransomeware {
    padding: 0 5%;
  }
  .ui1-banner1-content-ransomeware h5 {
    color: #72abff;
  }
  .ui1-banner1-content-ransomeware h3 {
    color: #fff;
    font-weight: 700;
  }
  .ui1-banner1-content-ransomeware p {
    color: #fff;
  }
  .ui1-banner1-content-ransomeware {
    padding: 0 20%;
}

.horizontal-line {
    position: relative;
    height: 2px;
    margin-top: 20px;
  }
  
  .left-half,
  .right-half {
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: #00E3FF; 
  }
  
  .right-half {
    left: 30%;
    width: 70%;
    background-color: #62666A; 
  }

  .section-title-ransomeware{
    
  }

  .section-title-ransomeware h3{
    text-align: left;
    margin-top: 6%;
    font-weight: bold;
    color: #00338D;
  }

  .policies-inner p{
    text-align: left;
    margin-top: 3%;
  }


  @media only screen and (min-width: 320px) and (max-width: 479px){
    .ui1-banner1-parent-ransomeware{
        background-size: 150% 167%;
    }
    .ui1-banner1-content-ransomeware {
        padding: 0;
    }
  }